global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'auth-service'
    static_configs:
      - targets: ['auth-service:8081']

  - job_name: 'wallet-service'
    static_configs:
      - targets: ['wallet-service:8082']

  - job_name: 'payments-service'
    static_configs:
      - targets: ['payments-service:8083']
